.filter-form {
    margin: 50px;
}

.filter-form h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #0A1B09;
}

.filter-form h6 {
    font-size: 25px;
    margin: 10px 0;
    color: #224768;
}