.filter-form {
    padding: 50px;
    background-color: #D4C9ED;
    height: calc(85% - 36px);
    display: flex;
    justify-content: space-around;
}

.filter-form h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #0A1B09;
}

.filter-form h6 {
    font-size: 25px;
    margin: 10px 0;
    color: #224768;
}

.filter-form select {
    margin-left: 15px;
    margin-bottom: 30px;
}

.filter-form-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
}