.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 24px;
    min-width: 300px;
    max-width: 80vw;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    font-family: Proxima Nova, sans-serif;
}

//login and create account

.login-form-container h1 {
  color: #197096;
  font-family: Proxima Nova, sans-serif;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 20px;
}

.login-form label {
    font-size: 12px;
    font-weight: 300;
    color: #aaa;
    font-family: Proxima Nova,sans-serif;
}

.login-form input {
    display: block;
    background-color: #bacae9;
    color:  #197096;
    border: none;
    border-bottom: 4px solid #eee;
    height: 30px;
    width: 100%;
}

.login-form input:focus {
    outline: none;
    border-bottom: 4px solid #197096;
}

.login-submit {
    color: #ff8a47;
    font-size: 14px;
    font-weight: 700;
    height: 48px;
    border: none;
    border-radius: 36px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0 28.8px;
}

.login-form-container a {
    color: #28a5dc;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    font-family: Proxima Nova,sans-serif;
}

.login-form-container a:hover {
    text-decoration: underline;
}

.errors {
    color: rgb(187, 0, 0);
    font-family: "Proxima Nova", sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
}

.errors li {
  margin: 10px 0;
}
