.movie-form-container {
    margin: 25px 0;
}
.movie-form {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-form-container h1 {
  color: #197096;
  font-family: Proxima Nova, sans-serif;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 20px;
}

.movie-form label {
    font-size: 18px;
    font-weight: 300;
    color: #aaa;
    font-family: Proxima Nova,sans-serif;
}

.movie-input {
    display: block;
    background-color: #bacae9;
    color:  #197096;
    border: none;
    border-bottom: 4px solid #eee;
    height: 30px;
    width: 400px;
}

.movie-form input:focus {
    outline: none;
    border-bottom: 4px solid #197096;
}

.movie-form-mid {
    display: flex;
    width: 600px;
    justify-content: space-around;
    margin: 25px 0;
}
.movie-form-mid label {
    display: flex;
    flex-direction: column;
}


.movie-time select {
    border: none;
    border-bottom: 2px solid black;
    background-color: #DCDCDC;
    height: 30px;
    appearance: none;
    font-size: 100%;
    cursor: pointer;
    padding: 2.5px;
    border-radius: 5%;
}

.movie-form textarea {
    width: 400px;
    height: 75px;
}

.movie-submit {
    background-color: #256F49;
    font-size: 12px;
    font-weight: 600;
    height: 48px;
    border: none;
    border-radius: 36px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    padding: 15px 14.4px;
    width: 91.2x;
}
