.search {
    display: flex;
}

.search-panes {
    margin: 50px;
    width: 60%;
}

.search-panes-headers {
    display: flex;
    justify-content: space-around;
}

.search-panes-headers li {
    width: 50%;
    text-align: center;
    font-size: 30px;
    border: 2px solid black;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.search-panes-content {
    border: 2px solid black;
    border-top: none;
    height: 85%;
}

.directions-tab {
    background-color: #94A0DB;
}

.filters-tab {
    background-color: #D4C9ED;
}

#not-active {
    border-bottom: 2px solid black;
}

//directions

.directions {
    padding: 50px;
    background-color: #94A0DB;
    height: calc(85% - 36px);
}

.directions p {
    font-size: 20px;
    font-weight: 500;
}

.directions ul {
    list-style-type: disc;
}

.directions li {
    margin-top: 30px;
    margin-left: 40px;
}

//map-content 
#info-content h6 {
    font-size: 30px;
}

#info-content p {
    margin-top: 10px;
}
