// Place all the styles related to the api/shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Show show

.show-show {
    display: flex;
}

.show-detail-container {
    margin: 50px;
}

.show-detail {
    margin-bottom: 20px;
}

.show-detail-container a {
    background-color: rgb(153, 153, 153);
    font-size: 14px;
    font-weight: 700;
    height: 48px;
    border: none;
    border-radius: 36px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    padding: 10px 28.8px;
    width: 182.4px;
    margin-top: 30px;
}

.show-detail h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #0A1B09;
}

.show-detail h6 {
    font-size: 25px;
    margin: 10px 0;
    color: #224768;
}

.show-detail p {
    font-size: 15px;
    margin-left: 15px;
}

.show-detail-when {
    display: flex;
}

.show-detail-time {
    margin-left: 50px;
}

//show-form 
.show-form-container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-form {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
}
.show-form-container h1 {
    font-size: 50px;
}

.show-form-mid {
    margin-top: 25px;
    margin-left: 50px;
}

.show-form-right {
    margin-top: 25px;
}

.show-form input, .show-form textarea,
.show-form select, .show-form a {
    margin: 25px;
}

.show-form label, .show-form h6 {
    font-size: 25px;
    margin: 10px 0;
    color: #224768;
    margin-top: 20px;
}

.show-form a {
    display: block;
    font-size: 20px;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.create-button {
    background-color: #6EC8CF;
    font-size: 14px;
    font-weight: 700;
    height: 48px;
    border: none;
    border-radius: 36px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    padding: 10px 28.8px;
    width: 182.4px;
    margin-top: 30px;
    margin-right: 30px;
}

.back-button {
    background-color: rgb(153, 153, 153);
    font-size: 14px;
    font-weight: 700;
    height: 48px;
    border: none;
    border-radius: 36px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    padding: 10px 28.8px;
    width: 182.4px;
    margin-top: 30px;
}