// Place all the styles related to the api/shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Show show

.show-show {
    display: flex;
}

.show-detail-container {
    margin: 50px;
}

.show-detail h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #0A1B09;
}

.show-detail h6 {
    font-size: 25px;
    margin: 10px 0;
    color: #224768;
}

.show-detail p {
    font-size: 15px;
    margin-left: 15px;
}

.show-detail-when {
    display: flex;
}

.show-detail-time {
    margin-left: 50px;
}

//show-form 
.show-form-container {
    margin: 50px;
}

.show-form-container h1 {
    font-size: 50px;
}

.show-form input {
    margin-top: 25px;
}
