.nav {
    background-color: #A3AEA5;
    height: 75px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: absolute;
    top: 0;
    left: 0;
}

.nav button {
    height: 75px;
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
	background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color: #768d87;
	border: 1px solid #566963;
	display: inline-block;
	cursor: pointer;
	font-family: Arial;
	font-size: 12px;
	padding: 20px 23px;
	text-decoration: none;
	text-shadow :0px -1px 0px #2b665e;   
}

.nav button:hover {
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color: #6c7c7c;
}

.nav button:active {
    position: relative;
	top: 1px;

}
.nav button:focus {
    outline: none;
}


.nav-logged-in {
    display: flex;
    align-items: center;
}

.nav p {
    margin-right: 15px;
}

.logo img{
    height: 75px;
    margin-left: 30px;
}

.nav-user {
    text-decoration: none;
    font-size: 20px;
    margin-right: 5px;
}