// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user {
    margin: 150px 50px 0 50px;
    display: flex;
    justify-content: space-between;
    height: 500px;
}

.user img {
    height: 150px;
}

.user-shows {
    margin-top: 25px;
    margin-left: 100px;
    height: 90%;
    width: 66%;
}

.user-shows-lists {
    display: flex;
}

.user-shows-past, .user-shows-future {
    width: 50%;
}

.user-friends {
    margin-top: 25px;
    height: 90%;
    width: 30%;
}

.user-friends button {
    font-size: 14px;
    font-weight: 700;
    height: 48px;
    border: none;
    border-radius: 36px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    padding: 5px 14.4px;
    width: 90px;
    outline: none;
    background-color: #4bf542;
    margin-left: 10px;
}

.user ul {
    max-height: 450px;
    overflow: scroll;
}

.user h3 {
    color: #197096;
    font-family: Proxima Nova, sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 15px;
}

.user-show-li {
    margin: 20px 50px;
    cursor: pointer;
    width: 400px;
}

.user-show-li:hover {
    background-color: #F0F1FA;
    padding-left: 5px;
    p {
        padding-left: 10px;
    }
}

.user-show-li h6 {
    font-family: Proxima Nova, sans-serif;
    font-size: 20px;
}

.user-show-li-details {
    margin-top: 10px;
}

.user-show-li-when {
    display: flex;
    margin-top: 5px;
}

.user-show-li-when p {
    margin-right: 10px;
}