// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user {
    margin: 150px 50px 0 50px;
    display: flex;
    justify-content: space-between;
    height: 500px;
}

.user-info h1 {
    max-width: 200px;
    overflow: hidden;
    font-size: 25px;
    margin-top: 20px;
}

.user img {
    height: 150px;
}

.user-shows {
    margin-top: 25px;
    margin-left: 50px;
    height: 90%;
    width: 60%;
}

.user-shows-lists {
    display: flex;
}

.user-shows-past, .user-shows-future {
    width: 50%;
}

.user-friends {
    margin-top: 25px;
    height: 90%;
    width: 30%;
}

.user-friends button {
    box-shadow: 0px 10px 14px -7px #276873;
	background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color: #599bb3;
	border-radius: 8px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 14px;
	text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    margin-left: 50px;
}

.user-friends button:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color: #408c99;
}

.user-friends button:hover {
    outline: none;
	position: relative;
	top: 1px;
}

.user ul {
    max-height: 450px;
    overflow: scroll;
}

.user h3 {
    color: #197096;
    font-family: Proxima Nova, sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 15px;
}

.user-show-li {
    margin: 20px 50px;
    cursor: pointer;
    width: 400px;
}

.user-show-li:hover {
    background-color: #F0F1FA;
    padding-left: 5px;
    p {
        padding-left: 10px;
    }
}

.user-show-li h5 {
    font-family: Proxima Nova, sans-serif;
    font-size: 20px;
}

.user-show-li h6 {
    font-family: Proxima Nova, sans-serif;
    font-size: 15px;
}

.user-show-li-details {
    margin-top: 10px;
}

.user-show-li-when {
    display: flex;
    margin-top: 5px;
}

.user-show-li-when p {
    margin-right: 10px;
}